In [ ]:
# this notebook is not yet completed almost 1/2th of assignmnet is done,but i am sure the work would be completed 
#if exception for one day is given,
# i please you to give exception if you like my work
# thnak u in advance.........:)

In [2]:
# importing of required libraries

import pandas as pd
import PyPDF2
import nltk
import re
import numpy as np
from PyPDF2 import PdfFileWriter, PdfFileReader
from nltk import sent_tokenize,word_tokenize
from string import punctuation
from nltk.corpus import stopwords

In [3]:
# pypdf2 library to read the pdf file
test_pdf=PdfFileReader(open('story_pdf.pdf','rb'))

In [4]:
# to extraxt the data from pdf file
def story(x):
    page=[]
    for i in  range(0,x.numPages):
        pages=x.getPage(i) 
        story=pages.extractText() 
        k= ' '.join (story.split())# removing of white spaces
        page.append(k)
    return page

In [5]:
# conversion to string because nltk only process strings
text=str(story(test_pdf))
#text

In [6]:
# text preprocessing by nltk 
# removing of stopwords and punctutations helps in clear understanding
tokens=[word for sent in sent_tokenize(text) for word in word_tokenize(sent)]
#print(len(tokens))
stop_words=stopwords.words('english')+list(punctuation)
tokens=[w for w in tokens if w not in stop_words]
#print(tokens)
#print(len(tokens))
tokens=[w for w in tokens if len(w)>2]
#print(tokens)
len(tokens)

487

In [7]:
# function to find the page n.o of a word and a word even if repeated in another page

def page_num(x):
    pages_text=[]
    words_start_pos={}
    words={}
    k=[]
    number_of_pages=x.numPages 
    searchwords=tokens
    for word in searchwords:
        for page in range(number_of_pages):
            #print(page)
            pages_text.append(x.getPage(page).extractText())
            words_start_pos[page]=[dwg.start() for dwg in re.finditer(word,pages_text[page])]
            #print(words_start_pos)
            words[page]=[pages_text[page][value:value+len(word)] for value in words_start_pos[page]]
        for page in words:
            #print(page)
            for i in range(0,len(words[page])):
                if str(words[page][i]) != 'nan':
                    w=(page, words[page][i])
                    k.append(w)
    return k

In [8]:
#  function to find length of a words
def length(text):
    l=[]
    for w in text:
        l.append(len(w))
    return l

In [9]:
# creating data drame for words and page number
assignment=pd.DataFrame(columns=['page_num','Words'], data=page_num(test_pdf))
#assignment.head()

In [10]:
# adding length column to dataframe
assignment['length']=length(assignment.Words)
assignment.sample(5)

     page_num    Words  length
719         1   jacket       6
120         0  passing       7
754         1    smell       5
168         0     time       4
368         2      The       3

In [12]:
# adding parts of speech column to dataframe
assignment['pos_tag']=nltk.pos_tag(assignment.Words)

In [13]:
assignment.tail(5)

      page_num     Words  length          pos_tag
1155         1  watching       8  (watching, VBG)
1156         2  watching       8  (watching, VBG)
1157         2      fade       4       (fade, NN)
1158         2      heat       4       (heat, NN)
1159         2      dies       4      (dies, NNS)

In [14]:
# grouping all the column based on words
assignment=assignment.groupby(['Words', 'length','page_num','pos_tag'], observed=True).count()
assignment.reset_index(inplace=True)
assignment.head(5)

     Words  length  page_num        pos_tag
0     2002       4         0     (2002, CD)
1      And       3         0      (And, CC)
2      And       3         1      (And, CC)
3      And       3         2      (And, CC)
4  British       7         1  (British, JJ)

In [16]:
assignment.to_csv('C:\\Users\\DELL\\Desktop\\MY STUFF\DATA SCIENCE\DATA\\Raw data\\assignment2.csv')

In [311]:
df=assignment

In [312]:
df.head()

     Words  length  page_num        pos_tag
0     2002       4         0     (2002, CD)
1      And       3         0      (And, CC)
2      And       3         1      (And, CC)
3      And       3         2      (And, CC)
4  British       7         1  (British, JJ)

In [289]:
key_tags=['Strength','Shawn','Inevitable','Laurie','Craig']

In [313]:
df[0:5].style

In [314]:
for i in key_tags:
    match = re.search(i,str(tokens))
    if match:
        print(match)

SyntaxError: invalid syntax (<ipython-input-314-88fadf0609d0>, line 6)

<_sre.SRE_Match object; span=(2000, 2008), match='Strength'>
<_sre.SRE_Match object; span=(21, 26), match='Shawn'>
<_sre.SRE_Match object; span=(1986, 1996), match='Inevitable'>
<_sre.SRE_Match object; span=(772, 778), match='Laurie'>
<_sre.SRE_Match object; span=(2339, 2344), match='Craig'>

In [308]:
mark(key_tags)

NameError: name 'w' is not defined

In [293]:
def mark_red(val):
    for i in val:
        if i==assignment.Words:
            k=found
    return k
    #color = 'red' if val < 0 else 'black'
    #return 'color: %s' % color

In [294]:
mark_red(key_tags)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().